@import "./util/var";

.tasklistSection {
  width: 100%;
  float: left;
  padding: 25px 40px;
  h2 {
    font-size: 19pt;
    margin: 0;
    font-family: $header-font;
  }
  .noTask {
    font-size: 19pt;
    margin-top: 15px;
    font-family: $header-font;
    color: #ff0000;
  }
  .filter {
    background: transparent;
    border: 1px solid #c0bfbf;
    padding: 5px 10px;
    margin-top: 15px;
    width: 120px;
    &:active {
      background: $primary-color;
      color: #fff;
    }
  }
  .active {
    background: $primary-color;
    color: #fff;
  }
}
