@import "./util/var";
.card {
  margin-top: 10px;
  .cardContent {
    padding: 10px 15px;
    border: 1px solid #eeeaea;
  }
  h4 {
    font-family: $header-font;
    font-size: 15pt;
    margin: 0;
  }
  .open {
    border-left: 5px solid #ee1616;
  }
  .progress {
    border-left: 5px solid #1dd469;
  }
  .done {
    border-left: 5px solid #4874ec;
  }
}
